{% extends "layout.html" %}

{% block title %}
    News
{% endblock %}

{% block main %}

    <!-- Formulário para buscar notícias -->
     
    <form action="/news" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit" style="margin-bottom: 10px;">Search</button>
    </form>

    {% if news %}
        <!-- <h2 class="mt-4">Latest News for {{ symbol }}</h2> -->
        <div class="row">
            {% for new in content %} <!-- content = () , com content(0)=date
            content(1) = image, content(2) = title, content(3) = conteúdo, content(4) = sentimento  -->
                <div class="col-md-4">   <!--Mudamos para 3 colunas --> 
                    <div class="card mb-2 shadow-sm" style="border-color: #353535;">
                        
                        {% if new.image %}
                            <img src="{{ new.image }}" class="card-img-top" alt="News Image" style="height: 150px; object-fit: cover;">
                        {% endif %}
                        <div class="card-body" style="background-color: #555555;">
                            <h6 class="card-title text-truncate" title="{{ new.title }}" style="color: rgb(75, 192, 192);">{{ new.title }}</h6>
                            <p class="card-text small text-truncate" style="max-height: 60px; overflow: hidden; color: rgb(75, 192, 192);">{{ new.content }}</p>
                            <p style="max-height: 60px; overflow: hidden; color: rgb(75, 192, 192);">{{ new.date }}</p>
                            <a href="{{ new.link }}" class="btn btn-sm btn-primary" target="_blank">Read More</a>
                            <p style="max-height: 60px; overflow: hidden; color: rgb(75, 192, 192);">{{ new.sentiment }} -> {{ new.sentiment_num }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- {% for article in news %}
                <div class="col-md-4">   Mudamos para 3 colunas 
                    <div class="card mb-2 shadow-sm" style="border-color: #353535;">
                        
                        {% if article.image %}
                            <img src="{{ article.image }}" class="card-img-top" alt="News Image" style="height: 150px; object-fit: cover;">
                        {% endif %}
                        <div class="card-body" style="background-color: #555555;">
                            <h6 class="card-title text-truncate" title="{{ article.title }}" style="color: rgb(75, 192, 192);">{{ article.title }}</h6>
                            <p class="card-text small text-truncate" style="max-height: 60px; overflow: hidden; color: rgb(75, 192, 192);">{{ article.content }}</p>
                            <p style="max-height: 60px; overflow: hidden; color: rgb(75, 192, 192);">{{ article.date }}</p>
                            <a href="{{ article.link }}" class="btn btn-sm btn-primary" target="_blank">Read More</a>

                            





                            <p style="max-height: 60px; overflow: hidden; color: rgb(75, 192, 192);">{{ article.date }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}-->





        </div>
    {% endif %}
{% endblock %}

