{% extends "layout.html" %}

{% block title %}
Quoted
{% endblock %}

{% block main %}
    <p> A share of {{stock.name}} Corporation Common Stock ({{stock.symbol}}) costs {{stock.price | usd}}.</p>
    <div class="graph_line">
        <div class="chart-container" style="position: relative; height:40vh; width:50%;">
            <canvas id= "lineChart" width="700" height="400" style="display: block; margin-left: auto;"></canvas>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {

                        var ctx = document.getElementById("lineChart").getContext("2d");

                        var lineChart = new Chart(ctx, {
                            type: "line",

                            data: {
                                labels: {{ labels | safe }},
                                datasets: [{
                                    label: "Stock Price",
                                    data: {{ values | safe }},
                                    fill: false,
                                    borderColor: "rgb(75, 192, 192)",
                                    backgroundColor: "#353535",
                                    pointRadius: 0, // Aumenta os pontos para melhor visualização da tooltip
                                    lineTension: 0.4,
                                }]
                            },

                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                spanGaps: true,
                                hover: {
                                    mode: 'index',
                                    intersect: false, // Permite hover ao longo do eixo X
                                },
                            }
                        });
                    });
                </script>
                <div class="button-container" id="myButtons" style="width: 100%; height: 30px;">
                    <script>
                        // Função para meter os botões a funcionar

                        function toggleButton(button) {
                            button.classList.toggle('selected');
                            // Coleta todas as opções selecionadas
                            let selectedButtons = document.querySelectorAll('.selected');
                            let formData = [];
                            selectedButtons.forEach(btn => {
                                formData.push(btn.value);
                            });

                            // Atualiza o campo oculto com as opções selecionadas
                            document.getElementById('selecao').value = formData.join(',');

                            // Submete o formulário imediatamente
                            document.getElementById('form').submit();
                        }
                    </script>
                    <form id="form" method="POST" style="height: 100%;">
                        <button class="btn" value="1d"  id="1d"  type="button" onclick="toggleButton(this)">1d</button>
                        <button class="btn" value="1wk"  id="1w"  type="button" onclick="toggleButton(this)">1w</button>
                        <button class="btn" value="1mo"  id="1m"  type="button" onclick="toggleButton(this)">1m</button>
                        <button class="btn" value="YTD" id="YTD" type="button" onclick="toggleButton(this)">YTD</button>
                        <button class="btn" value="1y"  id="1y"  type="button" onclick="toggleButton(this)">1y</button>
                        <button class="btn" value="5y"  id="5y"  type="button" onclick="toggleButton(this)">5y</button>
                        <button class="btn" value="20y" id="20y" type="button" onclick="toggleButton(this)">20y</button>
                        <button class="btn" value="99y" id="Max" type="button" onclick="toggleButton(this)">Max.</button>

                        <input type="hidden" id="selecao" name="selecao">
                    </form>
                </div>
        </div>
        
        <!-- Revenue and Debt-->
        <div class="chart-container" style="position: relative;height: 40vh; width: 49%;">
            <canvas id= "waterfallChart" style="display: block; margin-left: auto;"></canvas>
                <script>
                    const labels = ["Revenue", "Cost of Revenue", "Gross Profit", "Other Expenses", "Earnings"];
                    const data = {
                    labels: labels,
                    datasets: [{
                        label: 'My First Dataset',
                        data: [{{results.get("revenue", 0)}}, {{results.get("cost_of_revenue", 0)}},
                        {{results.get("gross_profit", 0)}}, {{results.get("other_expenses", 0)}}, {{results.get("earnings", 0)}}, 55, 40],
                        backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                        ],
                        borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                        ],
                        borderWidth: 1
                    }]
                    };
               
                    document.addEventListener("DOMContentLoaded", function () {
                        var ctx = document.getElementById("waterfallChart").getContext("2d");
                
                        var barChart = new Chart(ctx, {
                            type: "bar",
                            data: data,
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    });
                </script>
                

        </div>

    </div>

    <!-- Table with Stats-->
    <div style="width: 49%; margin-top: 50px;">
        <table style="margin-top: 20px; font-size: 1.25rem; width: 100%;">
            <thead>
                <tr>
                    <th class="text-start">Price and volume</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-start" style="text-align: left;">Market cap</td>
                    <td class="text-start" style="text-align: right;">{{price_volume["marketcap"]}}</td>

                </tr>
                <tr>
                    <td class="text-start">Correlation with S&P500</td>
                    <td class="text-start" style="text-align: right;">{{correlation}}</td>

                </tr>
                <tr>
                    <td class="text-start">P/E ratio</td>
                    <td class="text-start" style="text-align: right;">{{price_volume["pe_ratio"]}}</td>

                </tr>
                <tr>
                    <td class="text-start">Earnings per share</td>
                    <td class="text-start" style="text-align: right;">{{price_volume["eps"]}}</td>

                </tr>
                <tr>
                    <td class="text-start">Dividend Rate</td>
                    <td class="text-start" style="text-align: right;">${{price_volume["dividend_rate"]}}</td>

                </tr>
                <tr>
                    <td class="text-start">Dividend yield</td>
                    <td class="text-start" style="text-align: right;">{{price_volume["dividend_yield"]}}%</td>

                </tr> 
            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                    <td class="border-0 text-end"></td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                    <td class="border-0 fw-bold text-end"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    
    <p>This stock as a correlation of {{correlation}} with S&P500.</p>
{% endblock %}
